<h1>Display your Pirate here</h1>
  <body>
    <p>Pirate Name <%= @pirate.name %></p>
    <p>Pirate Weight <%= @pirate.weight %></p>
    <p>Pirate Height <%= @pirate.height %></p>
  </body>

<h2>Display your first ship here</h2>
  <body>
    <p>Name  <%= @ships[0].name %></p>
    <p>Type <%= @ships[0].type %></p>
    <p>Booty <%= @ships[0].booty %></p>
    <br>
  </body>
<h2>Display your second ship here</h2>
  <body>
    <p>Name  <%= @ships[1].name %></p>
    <p>Type <%= @ships[1].type %></p>
    <p>Booty <%= @ships[1].booty %></p>
    <br>
  </body>







