<h1><%= @pirate.name %></h1>
<h3><b>Height:</b> <%= @pirate.height %></h3>
<h3><b>Weight:</b> <%= @pirate.weight %></h3>

<% @ships.each do |ship| %>
<h2>The <%= ship.name %></h2>
<h4><b>Type:</b> <%= ship.type %></h4>
<h4><b>Booty:</b> <%= ship.booty %></h4>
<% end %>